
body{
  background: url("https://photos.imageevent.com/mike929/helenaal/Railroad-1745_1.jpg") no-repeat center fixed; 
  /* background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover; */
  /* text-align: center !important; */
  min-height:100%;
  height:100%; 
}

.jumbotron {
  background: none !important;
}

h2{
  font-family: 'Lemon', serif !important;
  font-size: 85px !important;
  color: white !important;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 60px;
  margin: 20px;
}

h3 {
  padding-left: 10px;
}

.container {
  color: black;
}


#addTrainButton{
  background-color: red;
  color: white;
}

#static-table-header{
  background-color: #fbfbfb;
}

table{
  border: 1px solid #e6e6e6;
  /* display: inline-block; */
  width: 16.575%;
}

th{
  text-align: center;
  font-weight: bold;
  width: 16.575%;

  font-size: 20px;
}

tr {
  text-align: center;
}

td{
  text-align: center;
}

.clock-display{
  font-size: 45px;
  font-weight: bold;
}

.panel-title{
  font-size: 22px;
  font-weight: bold;
}

.panel-heading{
  padding-top: 15px;
  padding-bottom: 15px;
}




